header .menu , .menu.bars{
    flex-direction: column;
     align-items: flex-start;
    
} 
header .menu .logo{
     width: 100%;
      

}
header .menu .icon{
    display:block;
   
}
header .menu .bars{
display:none;


}

header .menu .icon{
    font-size:1.5em ;
    display: block;
    padding: 0px 30px;

}
header .menu .icon:hover + .bars , .bars:hover{
  
    display: flex; 
    position: fixed;
     top: 0;
      bottom: 0;
        right: -100px; 
       width: 300px;
        height: 100vh;
         background-color: black; 
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 5em;
         
        transition: right 0.3s ease; 

    

    
}
header .menu .bars a{

        color: white;
        padding: 0.5em;
        padding-left: 1em; 
        
} 


header  .menu  .icon:hover{
    color:  rgb(81, 211, 81);
}
      /* SECTION */
  .menu .section{
          flex-direction: column;
  }
  
  
      .menu .section .write{
        flex-direction: column;
    
        margin-left:0px ;
        margin-top: 20px;
        width: 100%;
        
        
        
      
      }
      .menu .section .write .para {
       font-size: 1.3em;
    
      }
        
    
      .menu .section .img1{
        margin-top: 60px;
      }
      .menu .section .btn{
        gap: 20px;
      }
      

       .menu .about  .about2 .img img{
        width:400px ;
      }
      .menu .about .bulid .boxes .box1{

    font-weight: 100;
      }   
      .menu .about .bulid .boxes .box1 i{

    font-size: 2em;

}
.menu .about .bulid  .boxes .box1 b{
    font-size: 3em;
}
.menu .about  .bulid .boxes .box1 span{
    font-size: 0.8em;
}
.menu .about .bulidboader h2{
    font-size: 2em;
    text-align: start;
}
.contact{
    height: 100%;
}
 .contact .contact1{
    flex-direction: column;
}